API_ID=26784369 # get this value from my.telegram.org
API_HASH=46a51372796778da6c7f4884afb45ac3 # get this value from my.telegram.org
BOT_TOKEN=8035795888:AAHKbMI7dsh4XlrrKH2grknptld0XD1YwX4 # get this value from @Botfather
MONGO_DB_URI=mongodb://Devamusic:Learning@123#@<hostname>/?ssl=true&replicaSet=atlas-ac1dq7-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Devamusic # get this value from mongodb.com
LOG_GROUP_ID=-1002144875425 # get this value from in your log group 
MUSIC_BOT_NAME=𝐃𝐄𝐕𝐀 𝐌𝐔𝐒𝐈𝐂 # your music bot name 
STRING_SESSION=BQGYsnEATWgRxK6OwAAOZKfzjCuqkUnGe7dJHVEeIYDLyd24m3oFo_yMVLFuO5QYvK0F5-CxO1Tjv2VhuOvPqwGLueInKN8gYUtMtdnrKVoaEhvJ9_a2FFqmgcfXK9nrFQ4kySoGDmC4I26Q28udZVRUvmgbg2LafAkOthNg2jTiMs9KDgpxWUUqBErTBAR4Facgz_bNdcoXhgjUi8LVtyous46N86qf3PMbU6vnzToDcWh8J9suLjMLdDFvyUf-oQMYJ_7bWk8xEYpWG1_LhpYq5SLrzQN8dvlRQEMEZSdOmD2JTvXWar4TOl_gYJ4R4bXhrtFcSeyfZWwh-OYYPwJQzvyxjwAAAAHHcMkVAA # get this value from @yukkistringbot
OWNER_ID=7862931859
